
.container{
    padding:20px 50px;
    margin: auto 0;
}

.flex-box{
    width: 100%;
    height: 500px;
   border:5px solid;
   padding: 10px;
   border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    /* display: flex;
    gap: 2px;
    
    justify-content: space-between;
   
    flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    

}
.flex-box > div{
    border:1px solid #333;
    padding: 20px;
    /* width: 20%; */
    height: 100px;
}